.brands {
  padding-top: 120px;

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px, auto);
    grid-auto-rows: auto;
    gap: 30px;
  }

  &__card {
    display: grid;
    justify-content: center;
    border: 1px solid $purple;
    border-radius: 20px;
    padding: 20px;
    &-img {
      height: 80%;
      width: auto;
    }
    h3 {
      text-align: center;
    }

    &:first-child {
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &:nth-child(3) {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }
}
