table {
  tbody {
    border-top: 2px solid White !important;

    .cart-item-enter {
      opacity: 0;
    }
    .cart-item-enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }
    .cart-item-exit {
      opacity: 1;
    }
    .cart-item-exit-active {
      opacity: 0;
      transition: opacity 500ms ease-in;
    }
  }
  td,
  th {
    color: #fff;

    &:nth-child(3) {
      text-align: center;
    }
    &:nth-child(4) {
      text-align: center;
    }
    &:nth-child(5) {
      text-align: center;
    }
  }
  td {
    &:last-child {
      text-align: center;
    }
  }
}

.vidget-cart {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 100%;
  cursor: pointer;
  filter: drop-shadow(0px 0px 16px rgba(160, 0, 216, 0.25))
    drop-shadow(0px 0px 4px rgba(160, 0, 216, 0.25))
    drop-shadow(0px 0px 8px rgba(160, 0, 216, 0.25));
  border: 2px solid purple;
  transition: all 0.3s;
  z-index: 1;

  &:hover {
    transform: scale(1.1);
  }

  .count {
    position: absolute;
    top: -10px;
    right: -5px;
    width: 25px;
    height: 25px;
    background: #333;
    border: 1px solid purple;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}

.cart__count,
.cart__sum {
  span {
    font-size: 24px;
    font-weight: 700;
  }
}
