*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: $white;
  background-color: $bg;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.big-title {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 58px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  span {
    text-transform: uppercase;
  }
}

.title {
  font-family: "Caveat";
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    color: $purple;
  }
}

.logo {
  font-family: "Caveat";
  font-size: 38px;
  line-height: 48px;
  &:hover {
    color: inherit;
  }
}
