.card {
  background-color: transparent;
  border: 1px solid $purple;
  margin-bottom: 30px;
  transition: all 0.3s;
  justify-content: space-between;

  &:hover {
    box-shadow: 0 0 20px $purple;
    img {
      transform: scale(1.1);
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    min-height: 250px;

    img {
      transition: all 0.3s;
      object-fit: cover;
    }

    h3 {
      text-align: center;
      font-size: 16px;
      margin-top: auto;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
      margin-bottom: 0;
      padding: 10px 0;
      width: 100%;
    }
  }

  &__bottom {
    border-top: 1px solid $purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &__order {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      &-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .up,
        .down {
          font-size: 20px;
          cursor: pointer;

          &:hover {
            color: $purple;
          }
        }

        input {
          max-width: 50px;

          &:focus {
            box-shadow: 0 0 10px $purple;
            border-color: $purple;
          }

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &[type="number"] {
            -moz-appearance: textfield;
          }
        }
      }
      .btn {
        width: 100%;
      }
    }

    &__price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      white-space: nowrap;

      &-new {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;

        span {
          font-size: 16px;
        }
      }
      &-prev {
        text-decoration: line-through;
        color: $gray;
      }
    }
  }
}

.shop {
  &-item-enter {
    opacity: 0;
  }

  &-item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  &-item-exit {
    opacity: 1;
  }

  &-item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
}
